
{
  "name":"Prometheus",
  "type":"prometheus",
  "uid": "forgerock-prom",
  "url":"https://forgerock-{{ forgerock_vars.environment }}-prometheus.{{ forgerock_vars.dns_zone_name }}",
  "access":"Browser",
  "basicAuth":false
}
