{
  "name": "CloudWatch",
  "type": "cloudwatch",
  "access": "proxy",
  "jsonData": {
    "authType": "keys",
    "defaultRegion": "eu-west-2"
  },
  "secureJsonData": {
    "accessKey": "{{ item.aws_access_key }}",
    "secretKey": "{{ item.aws_secret_key }}"
  }
}
