
{
  "name":"Prometheus",
  "type":"prometheus",
  "uid": "forgerock-prom",
  "url":"https://forgerock-{{ item.environment }}-prometheus.{{ item.dns_zone_name }}",
  "access":"Browser",
  "basicAuth":false
}
