{
  "dashboard": {
      "annotations": {
          "list": [
              {
                  "builtIn": 1,
                  "datasource": "-- Grafana --",
                  "enable": true,
                  "hide": true,
                  "iconColor": "rgba(0, 211, 255, 1)",
                  "name": "Annotations & Alerts",
                  "target": {
                      "limit": 100,
                      "matchAny": false,
                      "tags": [],
                      "type": "dashboard"
                  },
                  "type": "dashboard"
              }
          ]
      },
      "description": "",
      "editable": true,
      "fiscalYearStartMonth": 0,
      "graphTooltip": 0,
      "id": null,
      "iteration": 1663766117471,
      "links": [],
      "liveNow": false,
      "panels": [
          {
              "collapsed": false,
              "gridPos": {
                  "h": 1,
                  "w": 24,
                  "x": 0,
                  "y": 0
              },
              "id": 26,
              "panels": [],
              "title": "Self-Service Metrics",
              "type": "row"
          },
          {
              "colorBackground": false,
              "colorValue": false,
              "colors": [
                  "#299c46",
                  "rgba(237, 129, 40, 0.89)",
                  "#d44a3a"
              ],
              "gridPos": {
                  "h": 3,
                  "w": 6,
                  "x": 0,
                  "y": 1
              }
          },
          {
              "datasource": {
                  "type": "prometheus",
                  "uid": "forgerock-prom"
              },
              "fieldConfig": {
                  "defaults": {
                      "color": {
                          "mode": "thresholds"
                      },
                      "mappings": [
                          {
                              "options": {
                                  "match": "null",
                                  "result": {
                                      "text": "N/A"
                                  }
                              },
                              "type": "special"
                          }
                      ],
                      "thresholds": {
                          "mode": "absolute",
                          "steps": [
                              {
                                  "color": "green",
                                  "value": null
                              },
                              {
                                  "color": "red",
                                  "value": 80
                              }
                          ]
                      },
                      "unit": "short"
                  },
                  "overrides": []
              },
              "gridPos": {
                  "h": 4,
                  "w": 8,
                  "x": 8,
                  "y": 1
              },
              "id": 11,
              "links": [],
              "maxDataPoints": 100,
              "options": {
                  "colorMode": "none",
                  "graphMode": "none",
                  "justifyMode": "auto",
                  "orientation": "horizontal",
                  "reduceOptions": {
                      "calcs": [
                          "lastNotNull"
                      ],
                      "fields": "",
                      "values": false
                  },
                  "textMode": "auto"
              },
              "pluginVersion": "8.4.3",
              "targets": [
                  {
                      "expr": "sum(idm_selfservice_user_registration_count)",
                      "format": "time_series",
                      "instant": false,
                      "intervalFactor": 2,
                      "legendFormat": "",
                      "refId": "A"
                  }
              ],
              "title": "Self-Service Registration Total",
              "type": "stat"
          },
          {
              "datasource": {
                  "type": "prometheus",
                  "uid": "forgerock-prom"
              },
              "fieldConfig": {
                  "defaults": {
                      "color": {
                          "mode": "thresholds"
                      },
                      "mappings": [
                          {
                              "options": {
                                  "match": "null",
                                  "result": {
                                      "text": "N/A"
                                  }
                              },
                              "type": "special"
                          }
                      ],
                      "thresholds": {
                          "mode": "absolute",
                          "steps": [
                              {
                                  "color": "green",
                                  "value": null
                              },
                              {
                                  "color": "red",
                                  "value": 80
                              }
                          ]
                      },
                      "unit": "short"
                  },
                  "overrides": []
              },
              "gridPos": {
                  "h": 4,
                  "w": 8,
                  "x": 16,
                  "y": 1
              },
              "hideTimeOverride": false,
              "id": 16,
              "links": [],
              "maxDataPoints": 100,
              "options": {
                  "colorMode": "none",
                  "graphMode": "none",
                  "justifyMode": "auto",
                  "orientation": "horizontal",
                  "reduceOptions": {
                      "calcs": [
                          "lastNotNull"
                      ],
                      "fields": "",
                      "values": false
                  },
                  "textMode": "auto"
              },
              "pluginVersion": "8.4.3",
              "targets": [
                  {
                      "expr": "sum(idm_selfservice_user_password_reset_count)",
                      "format": "time_series",
                      "instant": false,
                      "intervalFactor": 1,
                      "refId": "A"
                  }
              ],
              "title": "Self-Service Password Reset Total",
              "type": "stat"
          },
          {
              "colorBackground": false,
              "colorValue": false,
              "colors": [
                  "#299c46",
                  "rgba(237, 129, 40, 0.89)",
                  "#d44a3a"
              ],
              "gridPos": {
                  "h": 3,
                  "w": 6,
                  "x": 0,
                  "y": 4
              }
          },
          {
              "aliasColors": {},
              "bars": false,
              "dashLength": 10,
              "dashes": false,
              "datasource": {
                  "type": "prometheus",
                  "uid": "forgerock-prom"
              },
              "fill": 1,
              "fillGradient": 0,
              "gridPos": {
                  "h": 8,
                  "w": 8,
                  "x": 8,
                  "y": 5
              },
              "hiddenSeries": false,
              "id": 20,
              "legend": {
                  "alignAsTable": true,
                  "avg": true,
                  "current": true,
                  "max": true,
                  "min": true,
                  "rightSide": false,
                  "show": true,
                  "total": false,
                  "values": true
              },
              "lines": true,
              "linewidth": 1,
              "links": [],
              "nullPointMode": "null",
              "options": {
                  "alertThreshold": true
              },
              "percentage": false,
              "pluginVersion": "8.4.3",
              "pointradius": 5,
              "points": false,
              "renderer": "flot",
              "seriesOverrides": [],
              "spaceLength": 10,
              "stack": false,
              "steppedLine": false,
              "targets": [
                  {
                      "expr": "sum(rate(idm_selfservice_user_registration_count[1m]))",
                      "format": "time_series",
                      "hide": false,
                      "interval": "",
                      "intervalFactor": 2,
                      "legendFormat": "m1_rate ",
                      "refId": "A"
                  },
                  {
                      "expr": "sum(rate(idm_selfservice_user_registration_count[5m]))",
                      "format": "time_series",
                      "hide": false,
                      "interval": "",
                      "intervalFactor": 2,
                      "legendFormat": "m5_rate ",
                      "refId": "B"
                  },
                  {
                      "expr": "sum(rate(idm_selfservice_user_registration_count[15m]))",
                      "format": "time_series",
                      "hide": false,
                      "interval": "",
                      "intervalFactor": 2,
                      "legendFormat": "m15_rate ",
                      "refId": "C"
                  }
              ],
              "thresholds": [],
              "timeRegions": [],
              "title": "Registration Average",
              "tooltip": {
                  "shared": true,
                  "sort": 0,
                  "value_type": "individual"
              },
              "type": "graph",
              "xaxis": {
                  "mode": "time",
                  "show": true,
                  "values": []
              },
              "yaxes": [
                  {
                      "format": "ops",
                      "label": "",
                      "logBase": 1,
                      "show": true
                  },
                  {
                      "format": "short",
                      "logBase": 1,
                      "show": true
                  }
              ],
              "yaxis": {
                  "align": false
              }
          },
          {
              "aliasColors": {},
              "bars": false,
              "dashLength": 10,
              "dashes": false,
              "datasource": {
                  "type": "prometheus",
                  "uid": "forgerock-prom"
              },
              "fill": 1,
              "fillGradient": 0,
              "gridPos": {
                  "h": 8,
                  "w": 8,
                  "x": 16,
                  "y": 5
              },
              "hiddenSeries": false,
              "id": 21,
              "legend": {
                  "alignAsTable": true,
                  "avg": true,
                  "current": true,
                  "max": true,
                  "min": true,
                  "rightSide": false,
                  "show": true,
                  "total": false,
                  "values": true
              },
              "lines": true,
              "linewidth": 1,
              "links": [],
              "nullPointMode": "null",
              "options": {
                  "alertThreshold": true
              },
              "percentage": false,
              "pluginVersion": "8.4.3",
              "pointradius": 5,
              "points": false,
              "renderer": "flot",
              "seriesOverrides": [],
              "spaceLength": 10,
              "stack": false,
              "steppedLine": false,
              "targets": [
                  {
                      "expr": "sum(rate(idm_selfservice_user_password_reset_count[1m]))",
                      "format": "time_series",
                      "hide": false,
                      "interval": "",
                      "intervalFactor": 2,
                      "legendFormat": "m1_rate ",
                      "refId": "A"
                  },
                  {
                      "expr": "sum(rate(idm_selfservice_user_password_reset_count[5m]))",
                      "format": "time_series",
                      "hide": false,
                      "interval": "",
                      "intervalFactor": 2,
                      "legendFormat": "m5_rate ",
                      "refId": "B"
                  },
                  {
                      "expr": "sum(rate(idm_selfservice_user_password_reset_count[15m]))",
                      "format": "time_series",
                      "hide": false,
                      "interval": "",
                      "intervalFactor": 2,
                      "legendFormat": "m15_rate ",
                      "refId": "C"
                  }
              ],
              "thresholds": [],
              "timeRegions": [],
              "title": "User Password Rest Average",
              "tooltip": {
                  "shared": true,
                  "sort": 0,
                  "value_type": "individual"
              },
              "type": "graph",
              "xaxis": {
                  "mode": "time",
                  "show": true,
                  "values": []
              },
              "yaxes": [
                  {
                      "format": "ops",
                      "label": "",
                      "logBase": 1,
                      "show": true
                  },
                  {
                      "format": "short",
                      "logBase": 1,
                      "show": true
                  }
              ],
              "yaxis": {
                  "align": false
              }
          },
          {
              "colorBackground": false,
              "colorValue": false,
              "colors": [
                  "#299c46",
                  "rgba(237, 129, 40, 0.89)",
                  "#d44a3a"
              ],
              "gridPos": {
                  "h": 3,
                  "w": 6,
                  "x": 0,
                  "y": 7
              }
          },
          {
              "datasource": {
                  "type": "prometheus",
                  "uid": "forgerock-prom"
              },
              "fieldConfig": {
                  "defaults": {
                      "color": {
                          "mode": "thresholds"
                      },
                      "mappings": [
                          {
                              "options": {
                                  "match": "null",
                                  "result": {
                                      "text": "N/A"
                                  }
                              },
                              "type": "special"
                          }
                      ],
                      "thresholds": {
                          "mode": "absolute",
                          "steps": [
                              {
                                  "color": "green",
                                  "value": null
                              },
                              {
                                  "color": "red",
                                  "value": 80
                              }
                          ]
                      },
                      "unit": "short"
                  },
                  "overrides": []
              },
              "gridPos": {
                  "h": 4,
                  "w": 8,
                  "x": 0,
                  "y": 10
              },
              "id": 8,
              "links": [],
              "maxDataPoints": 100,
              "options": {
                  "colorMode": "none",
                  "graphMode": "none",
                  "justifyMode": "auto",
                  "orientation": "horizontal",
                  "reduceOptions": {
                      "calcs": [
                          "lastNotNull"
                      ],
                      "fields": "",
                      "values": false
                  },
                  "textMode": "auto"
              },
              "pluginVersion": "8.4.3",
              "targets": [
                  {
                      "expr": "sum(idm_user_login_total)",
                      "format": "time_series",
                      "hide": false,
                      "instant": false,
                      "intervalFactor": 2,
                      "legendFormat": "",
                      "refId": "A"
                  }
              ],
              "title": "Self-Service User Login Total",
              "type": "stat"
          },
          {
              "aliasColors": {},
              "bars": false,
              "dashLength": 10,
              "dashes": false,
              "datasource": {
                  "type": "prometheus",
                  "uid": "forgerock-prom"
              },
              "fill": 1,
              "fillGradient": 0,
              "gridPos": {
                  "h": 8,
                  "w": 8,
                  "x": 0,
                  "y": 14
              },
              "hiddenSeries": false,
              "id": 2,
              "legend": {
                  "alignAsTable": true,
                  "avg": true,
                  "current": true,
                  "max": true,
                  "min": true,
                  "rightSide": false,
                  "show": true,
                  "total": false,
                  "values": true
              },
              "lines": true,
              "linewidth": 1,
              "links": [],
              "nullPointMode": "null",
              "options": {
                  "alertThreshold": true
              },
              "percentage": false,
              "pluginVersion": "8.4.3",
              "pointradius": 5,
              "points": false,
              "renderer": "flot",
              "seriesOverrides": [],
              "spaceLength": 10,
              "stack": false,
              "steppedLine": false,
              "targets": [
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "exemplar": true,
                      "expr": "sum(rate(idm_user_login_count[1m]))",
                      "format": "time_series",
                      "hide": true,
                      "interval": "",
                      "intervalFactor": 2,
                      "legendFormat": "m1_rate ",
                      "refId": "A"
                  },
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "expr": "sum(rate(idm_user_login_count[5m]))",
                      "format": "time_series",
                      "hide": true,
                      "intervalFactor": 2,
                      "legendFormat": "m5_rate",
                      "refId": "B"
                  },
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "exemplar": true,
                      "expr": "sum(rate(idm_user_login_count[15m]))",
                      "format": "time_series",
                      "hide": true,
                      "interval": "",
                      "intervalFactor": 2,
                      "legendFormat": "m15_rate",
                      "refId": "C"
                  },
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "exemplar": true,
                      "expr": "sum(rate(am_authentication_count{job=\"AM\"}[15m]))",
                      "hide": false,
                      "interval": "",
                      "legendFormat": "m15_rate",
                      "refId": "D"
                  }
              ],
              "thresholds": [],
              "timeRegions": [],
              "title": "Login Average",
              "tooltip": {
                  "shared": true,
                  "sort": 0,
                  "value_type": "individual"
              },
              "type": "graph",
              "xaxis": {
                  "mode": "time",
                  "show": true,
                  "values": []
              },
              "yaxes": [
                  {
                      "format": "ops",
                      "label": "",
                      "logBase": 1,
                      "show": true
                  },
                  {
                      "format": "short",
                      "logBase": 1,
                      "show": true
                  }
              ],
              "yaxis": {
                  "align": false
              }
          },
          {
            "collapsed": false,
            "gridPos": {
                "h": 1,
                "w": 24,
                "x": 0,
                "y": 22
            },
            "id": 2,
            "panels": [],
            "title": "JVM ($instance)",
            "type": "row"
          },
            {
                "aliasColors": {},
                "bars": false,
                "dashLength": 10,
                "dashes": false,
                "datasource": {
                    "type": "prometheus",
                    "uid": "forgerock-prom"
                },
                "editable": true,
                "error": false,
                "fill": 1,
                "fillGradient": 0,
                "grid": {},
                "gridPos": {
                    "h": 6,
                    "w": 12,
                    "x": 0,
                    "y": 22
                },
                "hiddenSeries": false,
                "id": 6,
                "legend": {
                    "alignAsTable": true,
                    "avg": true,
                    "current": true,
                    "max": true,
                    "min": true,
                    "show": true,
                    "total": false,
                    "values": true
                },
                "lines": true,
                "linewidth": 2,
                "links": [],
                "nullPointMode": "connected",
                "options": {
                    "alertThreshold": true
                },
                "percentage": false,
                "pluginVersion": "8.4.3",
                "pointradius": 5,
                "points": false,
                "renderer": "flot",
                "seriesOverrides": [],
                "spaceLength": 10,
                "stack": false,
                "steppedLine": false,
                "targets": [
                    {
                      "expr": "sum(rate(idm_jvm_free_used_memory_bytes{job=~\"$instance\"}[15m]))",
                      "format": "time_series",
                      "interval": "",
                      "intervalFactor": 2,
                      "legendFormat": "{% raw %}{{job}}{% endraw %} JVM Free Memory",
                      "refId": "C",
                      "target": "*.ds.jvm-memory-usage.memory-usage.total.used"
                    },
                    {
                      "expr": "sum(rate(idm_jvm_used_memory_bytes{job=~\"$instance\"}[15m]))",
                      "format": "time_series",
                      "instant": false,
                      "interval": "",
                      "intervalFactor": 2,
                      "legendFormat": "{% raw %}{{job}}{% endraw %} JVM Used Memory",
                      "refId": "A",
                      "target": "*.ds.jvm-memory-usage.memory-usage.total.used"
                    },
                    {
                      "expr": "sum(rate(idm_jvm_max_memory_bytes{job=~\"$instance\"}[15m]))",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "{% raw %}{{job}}{% endraw %} JVM Max Memory",
                      "refId": "B",
                      "target": "*.ds.jvm-memory-usage.memory-usage.total.used"
                    }
                ],
                "thresholds": [],
                "timeRegions": [],
                "title": "Memory Usage",
                "tooltip": {
                    "msResolution": false,
                    "shared": true,
                    "sort": 0,
                    "value_type": "cumulative"
                },
                "type": "graph",
                "xaxis": {
                    "mode": "time",
                    "show": true,
                    "values": []
                },
                "yaxes": [
                    {
                      "format": "bytes",
                      "logBase": 1,
                      "show": true
                    },
                    {
                      "format": "short",
                      "logBase": 1,
                      "show": false
                    }
                ],
                "yaxis": {
                    "align": false
                }
            },
            {
                "aliasColors": {},
                "bars": false,
                "dashLength": 10,
                "dashes": false,
                "datasource": {
                    "type": "prometheus",
                    "uid": "forgerock-prom"
                },
                "editable": true,
                "error": false,
                "fill": 1,
                "fillGradient": 0,
                "grid": {},
                "gridPos": {
                    "h": 6,
                    "w": 12,
                    "x": 12,
                    "y": 22
                },
                "hiddenSeries": false,
                "id": 4,
                "legend": {
                    "alignAsTable": true,
                    "avg": true,
                    "current": true,
                    "max": true,
                    "min": true,
                    "show": true,
                    "total": false,
                    "values": true
                },
                "lines": true,
                "linewidth": 2,
                "links": [],
                "nullPointMode": "connected",
                "options": {
                    "alertThreshold": true
                },
                "percentage": false,
                "pluginVersion": "8.4.3",
                "pointradius": 5,
                "points": false,
                "renderer": "flot",
                "seriesOverrides": [],
                "spaceLength": 10,
                "stack": false,
                "steppedLine": false,
                "targets": [
                    {
                      "expr": "rate(idm_jvm_garbage_collector_g1_young_generation_count{job=~\"$instance\"}[1m])",
                      "format": "time_series",
                      "intervalFactor": 2,
                      "legendFormat": "{% raw %}{{job}}{% endraw %} GC Young Gen Count",
                      "refId": "A",
                      "target": "perSecond(*.ds.jvm-memory-usage.garbage-collector.*.count)"
                    }
                ],
                "thresholds": [],
                "timeRegions": [],
                "title": "Garbage Collections",
                "tooltip": {
                    "msResolution": false,
                    "shared": true,
                    "sort": 0,
                    "value_type": "cumulative"
                },
                "type": "graph",
                "xaxis": {
                    "mode": "time",
                    "show": true,
                    "values": []
                },
                "yaxes": [
                    {
                      "format": "ops",
                      "logBase": 1,
                      "show": true
                    },
                    {
                      "format": "short",
                      "logBase": 1,
                      "show": false
                    }
                ],
                "yaxis": {
                    "align": false
                }
          },
          {
              "collapsed": false,
              "gridPos": {
                  "h": 1,
                  "w": 24,
                  "x": 0,
                  "y": 36
              },
              "id": 32,
              "panels": [],
              "title": "Managed Object Metrics",
              "type": "row"
          },
          {
              "aliasColors": {},
              "bars": false,
              "dashLength": 10,
              "dashes": false,
              "datasource": {
                  "type": "prometheus",
                  "uid": "forgerock-prom"
              },
              "description": "",
              "fill": 1,
              "fillGradient": 0,
              "gridPos": {
                  "h": 13,
                  "w": 12,
                  "x": 0,
                  "y": 37
              },
              "hiddenSeries": false,
              "id": 9,
              "legend": {
                  "alignAsTable": true,
                  "avg": true,
                  "current": true,
                  "max": true,
                  "min": true,
                  "show": true,
                  "total": false,
                  "values": true
              },
              "lines": true,
              "linewidth": 1,
              "links": [],
              "nullPointMode": "null",
              "options": {
                  "alertThreshold": true
              },
              "percentage": false,
              "pluginVersion": "8.4.3",
              "pointradius": 5,
              "points": false,
              "renderer": "flot",
              "seriesOverrides": [],
              "spaceLength": 10,
              "stack": false,
              "steppedLine": false,
              "targets": [
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "exemplar": true,
                      "expr": "idm_managed_seconds{managed_object=\"user\",quantile=\"0.5\"}",
                      "format": "time_series",
                      "hide": true,
                      "interval": "",
                      "intervalFactor": 2,
                      "legendFormat": "{{ '{{operation}}' }} ",
                      "refId": "A"
                  },
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "exemplar": true,
                      "expr": "idm_managed_seconds{job=\"IDM\",managed_object=\"alpha_user\",quantile=\"0.5\"}",
                      "hide": false,
                      "interval": "",
                      "legendFormat": "{{ '{{operation}}' }} ",
                      "refId": "B"
                  }
              ],
              "thresholds": [],
              "timeRegions": [],
              "title": "Managed User Median",
              "tooltip": {
                  "shared": true,
                  "sort": 0,
                  "value_type": "individual"
              },
              "type": "graph",
              "xaxis": {
                  "mode": "time",
                  "show": true,
                  "values": []
              },
              "yaxes": [
                  {
                      "format": "ms",
                      "logBase": 1,
                      "show": true
                  },
                  {
                      "format": "short",
                      "logBase": 1,
                      "show": true
                  }
              ],
              "yaxis": {
                  "align": false
              }
          },
          {
              "aliasColors": {},
              "bars": false,
              "dashLength": 10,
              "dashes": false,
              "datasource": {
                  "type": "prometheus",
                  "uid": "forgerock-prom"
              },
              "fill": 1,
              "fillGradient": 0,
              "gridPos": {
                  "h": 13,
                  "w": 12,
                  "x": 12,
                  "y": 37
              },
              "hiddenSeries": false,
              "id": 18,
              "legend": {
                  "alignAsTable": true,
                  "avg": true,
                  "current": true,
                  "max": true,
                  "min": true,
                  "show": true,
                  "total": false,
                  "values": true
              },
              "lines": true,
              "linewidth": 1,
              "links": [],
              "nullPointMode": "null",
              "options": {
                  "alertThreshold": true
              },
              "percentage": false,
              "pluginVersion": "8.4.3",
              "pointradius": 5,
              "points": false,
              "renderer": "flot",
              "seriesOverrides": [],
              "spaceLength": 10,
              "stack": false,
              "steppedLine": false,
              "targets": [
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "exemplar": true,
                      "expr": "idm_managed_seconds{managed_object=\"role\",quantile=\"0.5\"}",
                      "format": "time_series",
                      "hide": true,
                      "interval": "",
                      "intervalFactor": 1,
                      "legendFormat": "{{ '{{operation}}' }}",
                      "refId": "A"
                  },
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "exemplar": true,
                      "expr": "idm_managed_seconds{job=\"IDM\",managed_object=\"alpha_role\",quantile=\"0.5\"}",
                      "hide": false,
                      "interval": "",
                      "legendFormat": "{{ '{{operation}}' }}",
                      "refId": "B"
                  }
              ],
              "thresholds": [],
              "timeRegions": [],
              "title": "Managed Role Median",
              "tooltip": {
                  "shared": true,
                  "sort": 0,
                  "value_type": "individual"
              },
              "type": "graph",
              "xaxis": {
                  "mode": "time",
                  "show": true,
                  "values": []
              },
              "yaxes": [
                  {
                      "format": "ms",
                      "logBase": 1,
                      "show": true
                  },
                  {
                      "format": "short",
                      "logBase": 1,
                      "show": true
                  }
              ],
              "yaxis": {
                  "align": false
              }
          },
          {
              "aliasColors": {},
              "bars": false,
              "dashLength": 10,
              "dashes": false,
              "datasource": {
                  "type": "prometheus",
                  "uid": "forgerock-prom"
              },
              "description": "",
              "fill": 1,
              "fillGradient": 0,
              "gridPos": {
                  "h": 13,
                  "w": 24,
                  "x": 0,
                  "y": 49
              },
              "hiddenSeries": false,
              "id": 19,
              "legend": {
                  "alignAsTable": true,
                  "avg": true,
                  "current": true,
                  "max": true,
                  "min": true,
                  "show": true,
                  "total": false,
                  "values": true
              },
              "lines": true,
              "linewidth": 1,
              "links": [],
              "nullPointMode": "null",
              "options": {
                  "alertThreshold": true
              },
              "percentage": false,
              "pluginVersion": "8.4.3",
              "pointradius": 5,
              "points": false,
              "renderer": "flot",
              "seriesOverrides": [],
              "spaceLength": 10,
              "stack": false,
              "steppedLine": false,
              "targets": [
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "exemplar": true,
                      "expr": "sum(rate(idm_managed_count{managed_object=\"user\"}[1m]))",
                      "format": "time_series",
                      "hide": true,
                      "interval": "",
                      "intervalFactor": 2,
                      "legendFormat": "user m1_rate",
                      "refId": "A"
                  },
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "exemplar": true,
                      "expr": "sum(rate(idm_managed_count{managed_object=\"user\"}[15m]))",
                      "format": "time_series",
                      "hide": true,
                      "interval": "",
                      "intervalFactor": 2,
                      "legendFormat": "user m15_rate",
                      "refId": "B"
                  },
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "exemplar": true,
                      "expr": "sum(rate(idm_managed_count{managed_object=\"role\"}[1m]))",
                      "format": "time_series",
                      "hide": true,
                      "interval": "",
                      "intervalFactor": 2,
                      "legendFormat": "role m1_rate",
                      "refId": "C"
                  },
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "exemplar": true,
                      "expr": "sum(rate(idm_managed_count{managed_object=\"role\"}[15m]))",
                      "format": "time_series",
                      "hide": true,
                      "interval": "",
                      "intervalFactor": 2,
                      "legendFormat": "role  m15_rate",
                      "refId": "D"
                  },
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "exemplar": true,
                      "expr": "sum(rate(idm_managed_count{managed_object=\"alpha_role\"}[15m]))",
                      "hide": false,
                      "interval": "",
                      "legendFormat": "role  m15_rate",
                      "refId": "E"
                  },
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "exemplar": true,
                      "expr": "sum(rate(idm_managed_count{managed_object=\"alpha_role\"}[1m]))",
                      "hide": false,
                      "interval": "",
                      "legendFormat": "role m1_rate",
                      "refId": "F"
                  },
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "exemplar": true,
                      "expr": "sum(rate(idm_managed_count{managed_object=\"alpha_user\"}[15m]))",
                      "hide": false,
                      "interval": "",
                      "legendFormat": "user m15_rate",
                      "refId": "G"
                  },
                  {
                      "datasource": {
                          "type": "prometheus",
                          "uid": "forgerock-prom"
                      },
                      "exemplar": true,
                      "expr": "sum(rate(idm_managed_count{managed_object=\"user\"}[1m]))",
                      "hide": false,
                      "interval": "",
                      "legendFormat": "user m1_rate",
                      "refId": "H"
                  }
              ],
              "thresholds": [],
              "timeRegions": [],
              "title": "Managed Object Average",
              "tooltip": {
                  "shared": true,
                  "sort": 0,
                  "value_type": "individual"
              },
              "type": "graph",
              "xaxis": {
                  "mode": "time",
                  "show": true,
                  "values": []
              },
              "yaxes": [
                  {
                      "format": "ops",
                      "logBase": 1,
                      "show": true
                  },
                  {
                      "format": "short",
                      "logBase": 1,
                      "show": true
                  }
              ],
              "yaxis": {
                  "align": false
              }
          },
          {
              "collapsed": false,
              "gridPos": {
                  "h": 1,
                  "w": 24,
                  "x": 0,
                  "y": 50
              },
              "id": 30,
              "panels": [],
              "title": "Sync Metrics",
              "type": "row"
          },
          {
              "aliasColors": {},
              "bars": false,
              "dashLength": 10,
              "dashes": false,
              "datasource": {
                  "type": "prometheus",
                  "uid": "forgerock-prom"
              },
              "fill": 1,
              "fillGradient": 0,
              "gridPos": {
                  "h": 10,
                  "w": 12,
                  "x": 0,
                  "y": 60
              },
              "hiddenSeries": false,
              "id": 13,
              "legend": {
                  "alignAsTable": true,
                  "avg": true,
                  "current": true,
                  "max": true,
                  "min": true,
                  "show": true,
                  "total": false,
                  "values": true
              },
              "lines": true,
              "linewidth": 1,
              "links": [],
              "nullPointMode": "null",
              "options": {
                  "alertThreshold": true
              },
              "percentage": false,
              "pluginVersion": "8.4.3",
              "pointradius": 5,
              "points": false,
              "renderer": "flot",
              "seriesOverrides": [],
              "spaceLength": 10,
              "stack": false,
              "steppedLine": false,
              "targets": [
                  {
                      "expr": "idm_sync_objectmapping_seconds{quantile=\"0.5\"}",
                      "format": "time_series",
                      "intervalFactor": 2,
                      "legendFormat": "{{ '{{mapping_name}}' }} ",
                      "refId": "A"
                  }
              ],
              "thresholds": [],
              "timeRegions": [],
              "title": "Sync Object Mapping Median",
              "tooltip": {
                  "shared": true,
                  "sort": 0,
                  "value_type": "individual"
              },
              "type": "graph",
              "xaxis": {
                  "mode": "time",
                  "show": true,
                  "values": []
              },
              "yaxes": [
                  {
                      "format": "ms",
                      "label": "",
                      "logBase": 1,
                      "show": true
                  },
                  {
                      "format": "short",
                      "logBase": 1,
                      "show": true
                  }
              ],
              "yaxis": {
                  "align": false
              }
          },
          {
              "aliasColors": {},
              "bars": false,
              "dashLength": 10,
              "dashes": false,
              "datasource": {
                  "type": "prometheus",
                  "uid": "forgerock-prom"
              },
              "fill": 1,
              "fillGradient": 0,
              "gridPos": {
                  "h": 10,
                  "w": 12,
                  "x": 12,
                  "y": 60
              },
              "hiddenSeries": false,
              "id": 4,
              "legend": {
                  "alignAsTable": true,
                  "avg": true,
                  "current": true,
                  "max": true,
                  "min": true,
                  "rightSide": false,
                  "show": true,
                  "total": false,
                  "values": true
              },
              "lines": true,
              "linewidth": 1,
              "links": [],
              "nullPointMode": "null",
              "options": {
                  "alertThreshold": true
              },
              "percentage": false,
              "pluginVersion": "8.4.3",
              "pointradius": 5,
              "points": false,
              "renderer": "flot",
              "seriesOverrides": [],
              "spaceLength": 10,
              "stack": false,
              "steppedLine": false,
              "targets": [
                  {
                      "expr": "sum(rate(idm_sync_objectmapping_count[1m]))",
                      "format": "time_series",
                      "hide": false,
                      "instant": false,
                      "intervalFactor": 2,
                      "legendFormat": "sync m1_rate",
                      "refId": "A"
                  },
                  {
                      "expr": "sum(rate(idm_sync_objectmapping_count[5m]))",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "sync m5_rate",
                      "refId": "B"
                  },
                  {
                      "expr": "sum(rate(idm_sync_objectmapping_count[15m]))",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "sync m15_rate",
                      "refId": "C"
                  }
              ],
              "thresholds": [],
              "timeRegions": [],
              "title": "Sync Average",
              "tooltip": {
                  "shared": true,
                  "sort": 0,
                  "value_type": "individual"
              },
              "type": "graph",
              "xaxis": {
                  "mode": "time",
                  "show": true,
                  "values": []
              },
              "yaxes": [
                  {
                      "format": "ops",
                      "label": "calls/sec",
                      "logBase": 1,
                      "show": true
                  },
                  {
                      "format": "short",
                      "logBase": 1,
                      "show": true
                  }
              ],
              "yaxis": {
                  "align": false
              }
          },
          {
              "collapsed": false,
              "gridPos": {
                  "h": 1,
                  "w": 24,
                  "x": 0,
                  "y": 69
              },
              "id": 28,
              "panels": [],
              "title": "Recon Metrics",
              "type": "row"
          },
          {
              "aliasColors": {},
              "bars": false,
              "dashLength": 10,
              "dashes": false,
              "datasource": {
                  "type": "prometheus",
                  "uid": "forgerock-prom"
              },
              "fill": 1,
              "fillGradient": 0,
              "gridPos": {
                  "h": 8,
                  "w": 24,
                  "x": 0,
                  "y": 70
              },
              "hiddenSeries": false,
              "id": 5,
              "legend": {
                  "alignAsTable": true,
                  "avg": true,
                  "current": true,
                  "max": true,
                  "min": true,
                  "rightSide": false,
                  "show": true,
                  "total": false,
                  "values": true
              },
              "lines": true,
              "linewidth": 1,
              "links": [],
              "nullPointMode": "null",
              "options": {
                  "alertThreshold": true
              },
              "percentage": false,
              "pluginVersion": "8.4.3",
              "pointradius": 5,
              "points": false,
              "renderer": "flot",
              "seriesOverrides": [],
              "spaceLength": 10,
              "stack": false,
              "steppedLine": false,
              "targets": [
                  {
                      "expr": "sum(rate(idm_recon_count[1m]))",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "m1_rate",
                      "refId": "A"
                  },
                  {
                      "expr": "sum(rate(idm_recon_count[5m]))",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "m5_rate",
                      "refId": "B"
                  },
                  {
                      "expr": "sum(rate(idm_recon_count[15m]))",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "m15_rate",
                      "refId": "C"
                  }
              ],
              "thresholds": [],
              "timeRegions": [],
              "title": "Recon Average",
              "tooltip": {
                  "shared": true,
                  "sort": 0,
                  "value_type": "individual"
              },
              "type": "graph",
              "xaxis": {
                  "mode": "time",
                  "show": true,
                  "values": []
              },
              "yaxes": [
                  {
                      "format": "ops",
                      "logBase": 1,
                      "show": true
                  },
                  {
                      "format": "short",
                      "logBase": 1,
                      "show": true
                  }
              ],
              "yaxis": {
                  "align": false
              }
          },
          {
              "collapsed": false,
              "gridPos": {
                  "h": 1,
                  "w": 24,
                  "x": 0,
                  "y": 82
              },
              "id": 24,
              "panels": [],
              "title": "Repo Metrics",
              "type": "row"
          },
          {
              "aliasColors": {},
              "bars": false,
              "dashLength": 10,
              "dashes": false,
              "datasource": {
                  "type": "prometheus",
                  "uid": "forgerock-prom"
              },
              "fill": 1,
              "fillGradient": 0,
              "gridPos": {
                  "h": 12,
                  "w": 12,
                  "x": 0,
                  "y": 83
              },
              "hiddenSeries": false,
              "id": 12,
              "legend": {
                  "alignAsTable": true,
                  "avg": true,
                  "current": true,
                  "max": true,
                  "min": true,
                  "show": true,
                  "total": false,
                  "values": true
              },
              "lines": true,
              "linewidth": 1,
              "links": [],
              "nullPointMode": "null",
              "options": {
                  "alertThreshold": true
              },
              "percentage": false,
              "pluginVersion": "8.4.3",
              "pointradius": 5,
              "points": false,
              "renderer": "flot",
              "seriesOverrides": [],
              "spaceLength": 10,
              "stack": false,
              "steppedLine": false,
              "targets": [
                  {
                      "expr": "sum(idm_repo_seconds{quantile=\"0.5\", operation=\"create\"})",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "create ",
                      "refId": "A"
                  },
                  {
                      "expr": "sum(idm_repo_seconds{quantile=\"0.5\", operation=\"read\"})",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "read",
                      "refId": "B"
                  },
                  {
                      "expr": "sum(idm_repo_seconds{quantile=\"0.5\", operation=\"update\"})",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "update",
                      "refId": "C"
                  },
                  {
                      "expr": "sum(idm_repo_seconds{quantile=\"0.5\", operation=\"delete\"})",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "delete",
                      "refId": "D"
                  },
                  {
                      "expr": "sum(idm_repo_seconds{quantile=\"0.5\", operation=\"patch\"})",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "patch",
                      "refId": "E"
                  },
                  {
                      "expr": "sum(idm_repo_seconds{quantile=\"0.5\", operation=\"action\"})",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "action",
                      "refId": "F"
                  },
                  {
                      "expr": "sum(idm_repo_seconds{quantile=\"0.5\", operation=\"query\"})",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "query",
                      "refId": "G"
                  }
              ],
              "thresholds": [],
              "timeRegions": [],
              "title": "Repo Median",
              "tooltip": {
                  "shared": true,
                  "sort": 0,
                  "value_type": "individual"
              },
              "type": "graph",
              "xaxis": {
                  "mode": "time",
                  "show": true,
                  "values": []
              },
              "yaxes": [
                  {
                      "format": "ms",
                      "label": "",
                      "logBase": 1,
                      "show": true
                  },
                  {
                      "format": "short",
                      "logBase": 1,
                      "show": true
                  }
              ],
              "yaxis": {
                  "align": false
              }
          },
          {
              "aliasColors": {},
              "bars": false,
              "dashLength": 10,
              "dashes": false,
              "datasource": {
                  "type": "prometheus",
                  "uid": "forgerock-prom"
              },
              "fill": 1,
              "fillGradient": 0,
              "gridPos": {
                  "h": 12,
                  "w": 12,
                  "x": 12,
                  "y": 83
              },
              "hiddenSeries": false,
              "id": 22,
              "legend": {
                  "alignAsTable": true,
                  "avg": true,
                  "current": true,
                  "max": true,
                  "min": true,
                  "show": true,
                  "total": false,
                  "values": true
              },
              "lines": true,
              "linewidth": 1,
              "links": [],
              "nullPointMode": "null",
              "options": {
                  "alertThreshold": true
              },
              "percentage": false,
              "pluginVersion": "8.4.3",
              "pointradius": 5,
              "points": false,
              "renderer": "flot",
              "seriesOverrides": [],
              "spaceLength": 10,
              "stack": false,
              "steppedLine": false,
              "targets": [
                  {
                      "expr": "sum(rate(idm_repo_count{operation=\"create\"}[5m]))",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "create m5_rate",
                      "refId": "A"
                  },
                  {
                      "expr": "sum(rate(idm_repo_count{operation=\"read\"}[5m]))",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "read m5_rate",
                      "refId": "B"
                  },
                  {
                      "expr": "sum(rate(idm_repo_count{operation=\"update\"}[5m]))",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "update m5_rate",
                      "refId": "C"
                  },
                  {
                      "expr": "sum(rate(idm_repo_count{operation=\"delete\"}[5m]))",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "delete m5_rate",
                      "refId": "D"
                  },
                  {
                      "expr": "sum(rate(idm_repo_count{operation=\"patch\"}[5m]))",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "patch m5_rate",
                      "refId": "E"
                  },
                  {
                      "expr": "sum(rate(idm_repo_count{operation=\"action\"}[5m]))",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "action m5_rate",
                      "refId": "F"
                  },
                  {
                      "expr": "sum(rate(idm_repo_count{operation=\"query\"}[5m]))",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "query m5_rate",
                      "refId": "G"
                  }
              ],
              "thresholds": [],
              "timeRegions": [],
              "title": "Repo Average",
              "tooltip": {
                  "shared": true,
                  "sort": 0,
                  "value_type": "individual"
              },
              "type": "graph",
              "xaxis": {
                  "mode": "time",
                  "show": true,
                  "values": []
              },
              "yaxes": [
                  {
                      "format": "ops",
                      "label": "",
                      "logBase": 1,
                      "show": true
                  },
                  {
                      "format": "short",
                      "logBase": 1,
                      "show": true
                  }
              ],
              "yaxis": {
                  "align": false
              }
          },
          {
              "collapsed": false,
              "gridPos": {
                  "h": 1,
                  "w": 24,
                  "x": 0,
                  "y": 95
              },
              "id": 34,
              "panels": [],
              "title": "Audit Metrics",
              "type": "row"
          },
          {
              "aliasColors": {},
              "bars": false,
              "dashLength": 10,
              "dashes": false,
              "datasource": {
                  "type": "prometheus",
                  "uid": "forgerock-prom"
              },
              "fill": 1,
              "fillGradient": 0,
              "gridPos": {
                  "h": 11,
                  "w": 24,
                  "x": 0,
                  "y": 96
              },
              "hiddenSeries": false,
              "id": 3,
              "legend": {
                  "alignAsTable": true,
                  "avg": true,
                  "current": true,
                  "max": true,
                  "min": true,
                  "rightSide": false,
                  "show": true,
                  "total": false,
                  "values": true
              },
              "lines": true,
              "linewidth": 1,
              "links": [],
              "nullPointMode": "null",
              "options": {
                  "alertThreshold": true
              },
              "percentage": false,
              "pluginVersion": "8.4.3",
              "pointradius": 5,
              "points": false,
              "renderer": "flot",
              "seriesOverrides": [],
              "spaceLength": 10,
              "stack": false,
              "steppedLine": false,
              "targets": [
                  {
                      "expr": "sum(rate(idm_audit_count[5m]))",
                      "format": "time_series",
                      "hide": false,
                      "intervalFactor": 2,
                      "legendFormat": "{{ '{{audit_topic}}' }} m5_rate",
                      "refId": "A"
                  }
              ],
              "thresholds": [],
              "timeRegions": [],
              "title": "Audit Average",
              "tooltip": {
                  "shared": true,
                  "sort": 0,
                  "value_type": "individual"
              },
              "type": "graph",
              "xaxis": {
                  "mode": "time",
                  "show": true,
                  "values": []
              },
              "yaxes": [
                  {
                      "format": "ops",
                      "label": "events/sec",
                      "logBase": 1,
                      "show": true
                  },
                  {
                      "format": "short",
                      "logBase": 1,
                      "show": true
                  }
              ],
              "yaxis": {
                  "align": false
              }
          },
          {
              "collapsed": false,
              "gridPos": {
                  "h": 1,
                  "w": 24,
                  "x": 0,
                  "y": 108
              },
              "id": 2,
              "panels": [],
              "title": "IDM Custom Endpoints ($instance)",
              "type": "row"
            },
              {
                  "aliasColors": {},
                  "bars": false,
                  "dashLength": 10,
                  "dashes": false,
                  "datasource": {
                      "type": "prometheus",
                      "uid": "forgerock-prom"
                  },
                  "editable": true,
                  "error": false,
                  "fill": 1,
                  "fillGradient": 0,
                  "grid": {},
                  "gridPos": {
                      "h": 11,
                      "w": 24,
                      "x": 0,
                      "y": 109
                  },
                  "hiddenSeries": false,
                  "id": 6,
                  "legend": {
                      "alignAsTable": true,
                      "avg": true,
                      "current": true,
                      "max": true,
                      "min": true,
                      "show": true,
                      "total": false,
                      "values": true
                  },
                  "lines": true,
                  "linewidth": 2,
                  "links": [],
                  "nullPointMode": "connected",
                  "options": {
                      "alertThreshold": true
                  },
                  "percentage": false,
                  "pluginVersion": "8.4.3",
                  "pointradius": 5,
                  "points": false,
                  "renderer": "flot",
                  "seriesOverrides": [],
                  "spaceLength": 10,
                  "stack": false,
                  "steppedLine": false,
                  "targets": [
                      {
                        "expr": "rate(idm_script_0312d0105080e76a7cc458be941573c56d63e213:org_forgerock_openidm_customendpoint_read_count{job=~\"$instance\"}[15m])",
                        "format": "time_series",
                        "interval": "",
                        "intervalFactor": 2,
                        "legendFormat": "",
                        "refId": "A"
                      }
                  ],
                  "thresholds": [],
                  "timeRegions": [],
                  "title": "IDM Custom Endpoint Read Count",
                  "tooltip": {
                      "msResolution": false,
                      "shared": true,
                      "sort": 0,
                      "value_type": "cumulative"
                  },
                  "type": "graph",
                  "xaxis": {
                      "mode": "time",
                      "show": true,
                      "values": []
                  },
                  "yaxes": [
                      {
                        "format": "bytes",
                        "logBase": 1,
                        "show": true
                      },
                      {
                        "format": "short",
                        "logBase": 1,
                        "show": false
                      }
                  ],
                  "yaxis": {
                      "align": false
                  }
              },
              {
                  "aliasColors": {},
                  "bars": false,
                  "dashLength": 10,
                  "dashes": false,
                  "datasource": {
                      "type": "prometheus",
                      "uid": "forgerock-prom"
                  },
                  "editable": true,
                  "error": false,
                  "fill": 1,
                  "fillGradient": 0,
                  "grid": {},
                  "gridPos": {
                      "h": 11,
                      "w": 12,
                      "x": 0,
                      "y": 110
                  },
                  "hiddenSeries": false,
                  "id": 4,
                  "legend": {
                      "alignAsTable": true,
                      "avg": true,
                      "current": true,
                      "max": true,
                      "min": true,
                      "show": true,
                      "total": false,
                      "values": true
                  },
                  "lines": true,
                  "linewidth": 2,
                  "links": [],
                  "nullPointMode": "connected",
                  "options": {
                      "alertThreshold": true
                  },
                  "percentage": false,
                  "pluginVersion": "8.4.3",
                  "pointradius": 5,
                  "points": false,
                  "renderer": "flot",
                  "seriesOverrides": [],
                  "spaceLength": 10,
                  "stack": false,
                  "steppedLine": false,
                  "targets": [
                      {
                        "expr": "sum(rate(idm_script_0312d0105080e76a7cc458be941573c56d63e213:org_forgerock_openidm_customendpoint_read_seconds{job=~\"$instance\"}[15m]))",
                        "format": "time_series",
                        "intervalFactor": 2,
                        "legendFormat": "",
                        "refId": "A"
                      }
                  ],
                  "thresholds": [],
                  "timeRegions": [],
                  "title": "IDM Custom Endpoint Read in Seconds",
                  "tooltip": {
                      "msResolution": false,
                      "shared": true,
                      "sort": 0,
                      "value_type": "cumulative"
                  },
                  "type": "graph",
                  "xaxis": {
                      "mode": "time",
                      "show": true,
                      "values": []
                  },
                  "yaxes": [
                      {
                        "format": "ops",
                        "logBase": 1,
                        "show": true
                      },
                      {
                        "format": "short",
                        "logBase": 1,
                        "show": false
                      }
                  ],
                  "yaxis": {
                      "align": false
                  }
            }
      ],
      "refresh": "5s",
      "schemaVersion": 35,
      "style": "dark",
      "tags": [],
      "templating": {
          "list": [
              {
                  "current": {
                      "selected": false,
                      "text": "All",
                      "value": "$__all"
                  },
                  "datasource": {
                      "type": "prometheus",
                      "uid": "forgerock-prom"
                  },
                  "definition": "",
                  "hide": 0,
                  "includeAll": true,
                  "multi": true,
                  "name": "instance",
                  "options": [],
                  "query": {
                      "query": "label_values(job)",
                      "refId": "Prometheus-instance-Variable-Query"
                  },
                  "refresh": 2,
                  "regex": "",
                  "skipUrlSync": false,
                  "sort": 1,
                  "tagValuesQuery": "",
                  "tagsQuery": "",
                  "type": "query",
                  "useTags": false
              }
          ]
      },
      "time": {
          "from": "now-15m",
          "to": "now"
      },
      "timepicker": {
          "refresh_intervals": [
              "5s",
              "10s",
              "30s",
              "1m",
              "5m",
              "15m",
              "30m",
              "1h",
              "2h",
              "1d"
          ],
          "time_options": [
              "5m",
              "15m",
              "1h",
              "6h",
              "12h",
              "24h",
              "2d",
              "7d",
              "30d"
          ]
      },
      "timezone": "",
      "title": "IDM Dashboard",
      "uid": "s-2VdLs7k",
      "version": 1,
      "weekStart": ""
  },
  "overwrite": true,
  "inputs": [],
  "folderId": 0
}